/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .peak-teammembers-query-loop > ul > .wp-block-post .wp-block-group > :not(.card-subtitle, .teammember-toggle) {
  display: none
 }

// When editing a single founder post (exclude the query loop)
body.post-type-teammember {

  .wp-block-post-content {
    padding: 1em;

    & > div {
      max-width: 1000px;
    }
  }

 .card-full-content-link-title {
   font-size: var(--wp--preset--font-size--medium)!important;
   font-weight: 400!important;
 
   & + p, & + p ~ p {
     margin-top: 0.5em;
   }
 }
 .card-subtitle {

  &:before {
    content: 'Jobtitle:';
    font-size: 12px;
    display: block;
    color: #666;
  }
 }
 & p strong {
  font-size: var(--wp--preset--font-size--x-large);
  font-weight: 500;
  line-height: 1.2;
  // color: #000;
  // background-color: var(--wp--preset--color--peak-green, #31ff3f);
  // padding: .6em;
  // border-radius: .75em;
  // display: block;
}
}

.card-full-content-coin-title {
  font-size: var(--wp--preset--font-size--medium)!important;
  font-weight: 400!important;
  &:before {
    content: 'Title (invisible on frontend):';
    font-size: 12px;
    display: block;
    color: #666;
  }
}
.card-full-content-coin {
  // width: 48px;
  display: inline-block;
  margin-right: 0.5em;
}

